.advantages {
    min-height: 470px;
    padding: 71px 0 64px 0;
    background-color: #f6f6f6;
    &__title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
        margin-bottom: 60px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    &__item {
        max-width: 238px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-bottom: 20px;
    }
    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            color: red;
        }
        &_none{
            display: none;
        }
    
    }
    
}



@media (max-width: 991px) {
    .advantages { 
        &__descr {
            font-size: 13px;
            line-height: 16px;
        }
    }
}

@media (max-width: 767px) {
    .advantages { 
        padding: 71px 0 0px 0;
        &__item {
            max-width: 350px;
        }
        &__descr {
            margin-bottom: 50px;
            display: none;
            &_none{
                display: block;
            }
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 5px;
        }
        
    }
}


@media (max-width: 767px) {
    .advantages { 
        padding-top: 40px;
        &__title {
            font-size: 28px;
            margin-bottom: 55px;
        }
        
    }
}

@media (max-width: 479px) {
    .advantages { 
        &__title {
            font-size: 23px;
            margin-bottom: 40px;
        }
        
    }
}